In [ ]:
#reverse 
li = []
for i in range(5):
  a= input("enter")
  li.append(a)


def rever(l):
  new = []
  for i in range(len(l)-1,-1,-1):
    new.append(l[i])
  return new

print(rever(li))

enterw
entero
enterr
enterl
enterd
['d', 'l', 'r', 'o', 'w']

In [ ]:
# index wise concatenation

list1 = []
list2 = []

for i in range(4):
  a = input("enter")
  list1.append(a)
for j in range(4):
  b = input("enter")
  list2.append(b)


for i,j in zip(list1,list2):
  print(i+j)

enterW
enterwi
enterDre
enterb
entere
enterll
enteram
enterig
We
will
Dream
big

In [ ]:
## every elements of list into square
num = []

for i in range(5):
  a = int(input("enter"))
  num.append(a)

for x in num:
  print("square of the list is", x*x)

enter2
enter4
enter5
enter7
enter8
square of the list is 4
square of the list is 16
square of the list is 25
square of the list is 49
square of the list is 64

In [24]:

## remove empty string from the list
l1 = ["code", "", "studio","Academy", ""]
res = []


for i in l1:
  if (i):
    res.append(i)

print("original string", l1)
print("after removing empty string", res)

original string ['code', '', 'studio', 'Academy', '']
after removing empty string ['code', 'studio', 'Academy']

In [28]:
## add list element to set using update 

set1 = {"Yellow", "Orange", "Black"}
list1 =["Blue", "Green", "Red"]

set1.update(list1)
print(set1)

{'Black', 'Blue', 'Red', 'Yellow', 'Orange', 'Green'}

In [30]:
##  convert 2 list into dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10,20,30]

dicto = dict(zip(keys,values))
print(dicto)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [33]:
##  merge two dictionaries in python

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
d = {}
d = dict1.copy()
d.update(dict2)
print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [34]:
## another process

d1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
d2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
d = d1|d2
print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
## rename a key of dictionary

In [45]:
## return a set of element present in both  A or B but not both

a = {'Rahul','Raj','Sonam', 'Rani'}
b = {'Sumit', 'Rahul', 'Rani', 'Python', 'Java'}

l = a.difference(b)
d = b.difference(a)
r = l.copy()
r.update(d)

print(r)

{'Python', 'Sonam', 'Raj', 'Java', 'Sumit'}

In [35]:


d1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

d1['Nine'] = d1['Thirty']

del d1['Thirty']

print(d1)

{'Ten': 10, 'Twenty': 20, 'Nine': 30}

In [40]:
## sort by tuples



my_tuples =(
        ('Titanic', 1997),('matrix',1999),
        ('skyfall', 2012),('joker',2019),
        ('Missionimpossible',1996))

print(my_tuples, '\n')

my_tuples = sorted(my_tuples, key = lambda x : x[1])

print(my_tuples, '\n')

(('Titanic', 1997), ('matrix', 1999), ('skyfall', 2012), ('joker', 2019), ('Missionimpossible', 1996))

[('Missionimpossible', 1996), ('Titanic', 1997), ('matrix', 1999), ('skyfall', 2012), ('joker', 2019)]